.popup {
  &__content {
    display: flex;
    align-items: center;
    font-size: 18px;

    i {
      color: darkred;
    }

    span {
      margin-left: 15px;
    }
  }

  :hover {
    font-weight: bold;
  }
}

// .modal {
//   position: fixed;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   &__content {
//     background: #fff;
//     padding: 16px;
//     border: 1px solid #ccc;
//     border-radius: 8px;
//   }
// }

// .overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: #cccccc45;
//   z-index: 10;
// }

// .create-event {
//   display: flex;
//   flex-direction: column;
//   // padding: 5px 25px 5px 5px;

//   &__delete {
//     font-size: 18px;

//     i {
//       color: darkred;
//     }

//     span {
//       margin-left: 15px;
//     }
//   }

//   :hover {
//     font-weight: bold;
//   }
// }
