.popup {
  position: absolute;
  // transform: scale(0);
  // transition: 1s;

  &_active {
    // transform: scale(1);
  }

  &__content {
    display: flex;
    align-items: center;
    font-size: 18px;

    i {
      color: darkred;
    }

    span {
      margin-left: 15px;
    }
  }

  :hover {
    font-weight: bold;
  }
}
