.header {
  display: flex;
  height: 60px;
  padding: 0 48px;
  align-items: center;

  &__displayed-number-events {
    margin-left: auto;
    font-style: italic;
    color: blue;
  }
}

.create-event-btn {
  display: flex;
  align-items: center;
  padding: 0 17px 0 10px;
  // -----------
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 2px 3px 5px -1px rgb(0 0 0 / 30%);

  &__icon {
    display: flex;
    align-items: center;

    &-svg {
      width: 30px;
      height: 30px;
    }
  }

  &__text {
    margin-left: 10px;
  }
}

.navigation {
  &__today-btn {
    margin-left: 32px;
    padding: 0 16px;
    border-radius: 8px;
    background-color: transparent;
  }

  &__nav-icon {
    font-size: 16px;
    margin-left: 20px;
  }

  &__displayed-month {
    font-size: 20px;
    margin-left: 20px;
  }
}
