.modal {
  transform: scale(0);

  &__content {
    padding: 16px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  &_active {
    transform: scale(1);
    transition: 0.5s;
  }
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
  opacity: 0;
  pointer-events: none;

  &_active {
    opacity: 1;
    transition: 0.5s;
    pointer-events: all;
  }
}

.create-event {
  display: flex;
  flex-direction: column;

  &__close-btn {
    margin-left: auto;
    transform: rotate(45deg) scale(1.8);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: transparent;
  }
}

.event-form {
  display: flex;
  flex-direction: column;

  &__field {
    margin: 10px;
    border: none;
  }

  &__submit-btn {
    margin: 8px;
    margin-left: auto;
    border: none;
    color: #fff;
    background-color: cornflowerblue;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;

    // ************
    cursor: pointer;
  }
}
